@import "tailwindcss";
/* index.css */
@keyframes ping {
  0% { transform: scale(0.8); opacity: 1; }
  75%, 100% { transform: scale(2); opacity: 0; }
}

.ping-dot {
  position: relative;
}
.ping-dot::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background: rgba(34,197,94,0.5);
  animation: ping 1s cubic-bezier(0,0,0.2,1) infinite;
}
